# # Starter pipeline
# # Start with a minimal pipeline that you can customize to build and deploy your code.
# # Add steps that build, run tests, deploy, and more:
# # https://aka.ms/yaml

# trigger:
# - main

# pool:
#   vmImage: ubuntu-latest

# steps:
# - script: echo Hello, world!
#   displayName: 'Run a one-line script'

# - script: |
#     echo Add other tasks to build, test, and deploy your project.
#     echo See https://aka.ms/yaml
#   displayName: 'Run a multi-line script'

trigger:
  branches:
    include:
      - main

variables:
  nodeVersion: '18.x'
  buildConfiguration: 'Release'
  azureServiceConnection: 'Connection to the azure resource'   # service connection name
  webAppName: 'lugx-Gaming'              # your App Service name
  resourceGroup: 'Devops'

stages:
- stage: Build
  displayName: 'Install, Test & Build'
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '$(nodeVersion)'
    - script: npm ci
      displayName: 'npm ci'
    - script: npm run build
      displayName: 'npm run build (if present)'
      continueOnError: true   # in case server app has no build step
    - script: npm test
      displayName: 'npm test'
      continueOnError: true
    - script: |
        mkdir -p $(Build.ArtifactStagingDirectory)/app
        cp -R . $(Build.ArtifactStagingDirectory)/app
      displayName: 'Prepare artifact'
    - publish: $(Build.ArtifactStagingDirectory)/app
      artifact: drop

- stage: Deploy
  displayName: 'Deploy to Azure Web App'
  dependsOn: Build
  jobs:
  - deployment: DeployWeb
    environment: 'production'
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'current'
              artifact: 'drop'
              targetPath: '$(System.ArtifactsDirectory)'
          - task: AzureWebApp@1
            inputs:
              azureSubscription: '$(azureServiceConnection)'
              appType: 'webAppLinux'
              appName: '$(webAppName)'
              package: '$(System.ArtifactsDirectory)/drop/app'
